In [3]:
sozluk = {
    "Kategori": ["Giyim","Giyim", "Ayakkabı","Aksesuar","Ayakkabı","Giyim","Aksesuar","Aksesuar","Ayakkabı","Giyim"],
    "Ürün" : ["Kazak","T-shirt","Sandalet","Küpe","Spor Ayakkabı","Pantolon","Kolye","Yüzük","Çizme","Ceket"],
     "Fiyat" : [300,180,450,50,700,400,150,80,850,900]
}

##### 1. Yukarıdaki sözlüğü bir DataFrame haline getirin.

In [4]:
import pandas as pd

In [5]:
dataFrm = pd.DataFrame(sozluk)

In [6]:
print(dataFrm)

   Kategori           Ürün  Fiyat
0     Giyim          Kazak    300
1     Giyim        T-shirt    180
2  Ayakkabı       Sandalet    450
3  Aksesuar           Küpe     50
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

In [7]:
df = pd.DataFrame(dataFrm)
df

   Kategori           Ürün  Fiyat
0     Giyim          Kazak    300
1     Giyim        T-shirt    180
2  Ayakkabı       Sandalet    450
3  Aksesuar           Küpe     50
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

##### 2. Aşağıdaki işlemleri dataframe üzerinde uygulayalım.
- 2.indexde bulunan kategoriyi bulalım (Sadece kategori bilgisi) 
- 2.indexde bulunan ürünü bulalım (Sadece ürün bilgisi)
- 4.indexden 9.indexe kadar olan verileri bulalım (Kategori,ürün,fiyat bilgisi beraber)
- 1.indexden 6.indexe kadar olan ürünleri bulalım (Sadece ürün bilgisi)

In [16]:
dataFrm[2:3]["Kategori"]  # başlangıç olan 2 satır bilgisi ister ikinci olan 3 ise sütün bilgisi verir

2    Ayakkabı
Name: Kategori, dtype: object

In [17]:
dataFrm[2:3]["Ürün"]

2    Sandalet
Name: Ürün, dtype: object

In [18]:
dataFrm[4:]

   Kategori           Ürün  Fiyat
4  Ayakkabı  Spor Ayakkabı    700
5     Giyim       Pantolon    400
6  Aksesuar          Kolye    150
7  Aksesuar          Yüzük     80
8  Ayakkabı          Çizme    850
9     Giyim          Ceket    900

dataFrm[1:7]["Ürün"]

##### 3. Aşağıdaki işlemleri dataframe üzerinde uygulayalım.
- Giyim kategorisinde bulunan ürünleri gösterin
- Ayakkabı kategorisinde bulunan ürünleri gösterin
- Aksesuar kategorisinde bulunan ürünleri gösterin

In [24]:
giyim = df[df["Kategori"] == "Giyim"]["Ürün"]
print(giyim)

0       Kazak
1     T-shirt
5    Pantolon
9       Ceket
Name: Ürün, dtype: object

In [25]:
ayakkbi = df[df["Kategori"] == "Ayakkabı"]["Ürün"]
print(ayakkbi)

2         Sandalet
4    Spor Ayakkabı
8            Çizme
Name: Ürün, dtype: object

In [26]:
aksesuar = df[df["Kategori"] == "Aksesuar"]["Ürün"]
print(aksesuar)

3     Küpe
6    Kolye
7    Yüzük
Name: Ürün, dtype: object

##### 4 Aşağıdaki işlemleri dataframe üzerinde uygulayalım.
- Giyim kategorisinde fiyatı 300'den fazla olan ürünleri gösterin
- Ayakkabı kategorisinde fiyatı 600'den az olan ürünleri gösterin
- Aksesuar kategorisinde fiyatı 100'den fazla olan aksesuarı gösterin

In [30]:
kosul1 = df[(df["Kategori"] == "Giyim") & (df["Fiyat"] > 300)]["Ürün"]
kosul1

5    Pantolon
9       Ceket
Name: Ürün, dtype: object

In [31]:
kosul2 = df[(df["Kategori"] == "Ayakkabı") & (df["Fiyat"] < 600)]["Ürün"]
kosul2

2    Sandalet
Name: Ürün, dtype: object

In [32]:
kosul3 = df[(df["Kategori"] == "Aksesuar") & (df["Fiyat"] > 100)]["Ürün"]
kosul3

6    Kolye
Name: Ürün, dtype: object

##### Pandasta en çok kullanılan veri yapılar Series ve DataFrame yapılarıdır.Series kullanımı:

In [36]:
seri = pd.Series([10,20,30,40,50])
seri

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [37]:
type(seri)

pandas.core.series.Series

In [38]:
seri.index

RangeIndex(start=0, stop=5, step=1)

In [39]:
seri.size

5

In [41]:
seri.ndim

1

In [42]:
seri.values

array([10, 20, 30, 40, 50], dtype=int64)

In [43]:
seri.head(3)

0    10
1    20
2    30
dtype: int64

In [44]:
seri.tail(2)

3    40
4    50
dtype: int64

In [45]:
seri[0:2]

0    10
1    20
dtype: int64

In [48]:
seri2 = pd.Series([12,13,14,15,16] , index =[2,4,6,8,10])
seri2

2     12
4     13
6     14
8     15
10    16
dtype: int64

In [50]:
seri2[0:3]

2    12
4    13
6    14
dtype: int64

In [51]:
seri2[2:8]

6     14
8     15
10    16
dtype: int64

In [53]:
import numpy as np

dizi = np.random.randint(50,size=6)
dizi

array([13,  1, 39,  7, 48,  3])

In [55]:
seri2 = pd.Series(dizi)
seri2

0    13
1     1
2    39
3     7
4    48
5     3
dtype: int32